$fontStack:     Helvetica, sans-serif;
$primaryColor: #331;

body{
  font-family: $fontStack;
  color: $primaryColor;
  border-radius: 5px;
  display: flex;
  opacity:0.5;
}
.wrap{
  width:100px;
  height:100px;
  background:#f00;
}
div[title^="adv"]{
  background:#f0f;
  color:#f00;
}
